@import "config";
@import "utils";

header {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;

  nav a {
    height: 100%;

    div {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      .logo {
        font-weight: bold;
        font-size: 1.7rem;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        transition: all 0.5s;

        &:hover {
          letter-spacing: 0.3rem;
        }
      }

      div {
        height: 30%;
        margin: 0.5rem;
        background: #fff;
        width: 1px;
      }

      p:last-child {
        font-size: 0.7rem;
        padding: 0.5rem;
      }
    }
  }

  .hero {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    .content {
      width: 50%;

      h1 {
        font-size: 4rem;
        padding: 1.25rem 0;
        color: $primary-color;
      }

      p {
        color: #fff;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        text-align: start;
      }
    }

    .img {
      background: url("../img/showcase.jpg") no-repeat center center/cover;
      height: 400px;
    }
  }

  &:before {
    content: "";
    background: rgba($color: #000000, $alpha: 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  & * {
    z-index: 2;
  }
  p.lead {
    color: #fff;
    font-size: 3rem;
    text-align: flex-start;
  }
}
