@import "config";
@import "utils";

header {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;

  nav a {
    height: 100%;

    div {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      .logo {
        font-weight: bold;
        font-size: 1.7rem;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        transition: all 0.8s;

        &:hover {
          transform: rotate3d(0, 1, 0.5, 6.284rad);
        }
      }

      div {
        height: 30%;
        margin: 0.5rem;
        background: #fff;
        width: 1px;
      }

      p:last-child {
        font-size: 0.7rem;
        padding: 0.5rem;
      }
    }
  }

  .hero {
    padding-top: 8.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .content {
      h1 {
        font-size: 3.5rem;
        padding-bottom: 1.25rem;
        color: $primary-color;
      }

      p {
        padding-bottom: 1.25rem;
        color: #fff;
        font-size: 1.45rem;
        align-items: center;
        justify-content: center;
        text-align: start;
        width: 60%;
      }
    }

    .img {
      background: url("../img/showcase.jpg") no-repeat center center/cover;
      height: 400px;
      width: 100%;
    }

    a {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  &:before {
    content: "";
    background: rgba($color: #000000, $alpha: 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  & * {
    z-index: 2;
  }
}

// SERVICES
#services {
  background: url("../img/background.png") center 90% / cover;
  height: 2250px;

  .container {
    border-right: 2px solid $primary-color;
  }

  .content {
    padding: 3rem 0 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

    h1 {
      text-transform: uppercase;
      background: transparent;
      width: 50%;
      // background-attachment: fixed;
    }

    p.lead {
      transform: rotate(-90deg);
      transition: all 0.5s;
      margin-top: 10rem;
      text-align: center;

      &:hover {
        transform: rotate(360deg) scale(1.35);
        text-shadow: 5px 5px 15px rgba(#fff, $alpha: 0.5);
      }
    }
  }

  .services-content {
    display: flex;
    flex-direction: column;
    margin-top: 6.5rem;

    div.single-service img,
    div.single-service p,
    div.single-service h1 {
      transition: all 1s ease-in-out;
      visibility: hidden;
      opacity: 0;
    }

    div.single-service {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 1.5rem;

      &.show img,
      &.show p,
      &.show h1 {
        transform: none;
        visibility: visible;
        opacity: 1;
      }

      .img {
        border-radius: 40px;
        z-index: 1;

        &:hover {
          transform: translate(170px) rotate3d(0, 1, 0, 1.57rad);
        }
      }

      p,
      h1 {
        position: absolute;
        top: 40%;
        left: 40px;
        width: 30%;
        color: #fff;
        text-align: center;
        opacity: 0;
        visibility: hidden;
      }

      h1 {
        top: 25%;
        left: 40px;
        color: $primary-color;
      }
    }

    .single-service:nth-child(2) {
      transform: translate(605px);
      margin-top: -175px;
    }

    .single-service:nth-child(3) {
      margin-top: -85px;
    }
  }
}

// GALLERY
#gallery {
  background: #222222;

  .container {
    position: relative;
    box-shadow: 150px 0 300px #fff, -150px 0 300px #fff;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 170vh;
    z-index: 2;
    box-shadow: inset 50px 0 300px #fff, inset -50px 0 300px #fff,
      50px 0 300px #fff, -50px 0 300px #fff;
    transition: all 1s ease-in-out;

    &:hover {
      transform: translate(605px) rotate3d(0, 1, 0.05, 1.57rad);
    }

    &:hover .gallery-content {
      opacity: 1;
      visibility: visible;
    }

    h1 {
      font-size: 16rem;
      text-transform: uppercase;
    }

    a {
      color: rgb(228, 182, 122);
    }
  }

  .gallery-content {
    position: absolute;
    top: 10%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    opacity: 0;
    visibility: hidden;

    .single-gallery {
      background: #fff;
      border-radius: 40px;

      img {
        width: 100%;
        margin: auto;
      }

      .text-gallery {
        padding: 1rem;
      }
    }
  }
}
